.header-column {
    text-align: center;
    font-family: "Titillium Web", sans-serif;
    font-size: 30px;
    margin-top: 30px;
}

.rules-header {
    font-family: "Titillium Web", sans-serif;
}

.rules-text {
    font-family: "Titillium Web", sans-serif;
}

.standing-table  {
    font-family: "Titillium Web", sans-serif;
}