.header-column {
    text-align: center;
    font-family: "Titillium Web", sans-serif;
    font-size: 30px;
    margin-top: 30px;
}

.rules-header {
    font-family: "Titillium Web", sans-serif;
}

.rules-text {
    font-family: "Titillium Web", sans-serif;
}

/* End rules Styles */

/* Begin Standings Styles */

.standing-header {
    font-family: "Titillium Web", sans-serif;
}

.standing-table  {
    font-family: "Titillium Web", sans-serif;
}

.standing-sort-button-row {
    display: flex;
    justify-content: space-around;
    
}

.contact-list-group {
    font-family: "Titillium Web", sans-serif;
    margin-top: 30px;
}

.contact-list-group a {
    color: #000;

    transition: 0.3s all;
}

.contact-list-group a:hover {
    background-color: #a63446;
    color: #fff;
    text-decoration: none;
}

.about-text {
    font-family: "Titillium Web", sans-serif;
}

.match-results {
    font-family: "Titillium Web", sans-serif;
    font-size: 18px;
}

.wufoo-container {
    border: 2px solid #a63446;
}

